- post = show
%h1= post.title

Posted by #{link_to post.creator.name, user_path(post.creator.user_id)} #{post.created_at < 3.days.ago ? post.created_at.to_s(:date) : time_ago_in_words(post.created_at)} ago

:markdown
  #{post.message}

.post
  = render partial: "show", collection: post.children
