!!! XML
!!!
%html
  %head
    %title University of Montevallo - AKL
    = stylesheet_link_tag    "application", "formtastic", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
    %nav
      = render partial: "shared/menu"

    - if user_signed_in?
      = link_to "Logout", destroy_user_session_path, :method => :delete

    = yield

    %footer
